.runGameButton{
color: #fff !important;
text-transform: uppercase;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
user-select: none;
position: relative;
left: 50%;
top: auto;
transform: translate(-50%);

}

.runGameButton:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.rainbow-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 35px;

  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.head{
  align-content: center;

}

.body{
  align-content: center;

}
.playground{
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}
.input{
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -25%);

}
.textField{
  background: red;
}
